@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: url('@/assets/fonts/merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: url('@/assets/fonts/merriweather/Merriweather-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url('@/assets/fonts/merriweather/Merriweather-Bold.ttf') format('truetype');
}